<%= render :partial => "header" %>

<p>Mais rápido que uma bala<br/>
Um grito apavorante<br/>
Enfurecido e cheio de raiva<br/>
Ele é metade homem, metade máquina</p>

<p>Cavalgando o Monstro de Metal<br/>
Respirando fogo e fumaça<br/>
Aproximando-se com vingança<br/>
Vôo arrojado</p>

<p>Ele é o Painkiller<br/>
Esse é o Painkiller</p>

<p>Planetas devastados<br/>
A raça humana de joelhos<br/>
Um salvador vem dos céus<br/>
Em resposta ao apelo deles</p>

<p>Atravessando ferventes nuvens de trovão<br/>
Explodindo parafusos de aço<br/>
O mal desce em círculos mortais</p>

<p>Ele é o Painkiller<br/>
Esse é o Painkiller</p>

<p>Mais rápido que uma bala laser<br/>
Mais barulhento que uma bomba atômica<br/>
O cromo blindado, metal em ebulição<br/>
Mais luminoso do que mil sóis</p>

<p>Voando alto em êxtase<br/>
Fortalecido, livre e corajoso<br/>
Nunca mais capturado<br/>
Eles foram levados de volta à sepultura</p>

<p>Com a humanidade ressuscitada<br/>
Sobreviver eternamente ao<br/>
Retorno do Armageddon nos céus</p>

<p>Ele é o Painkiller<br/>
Isso é o Painkiller<br/>
Asas de aço - Painkiller<br/>
Círculos mortais - Painkiller</p>