<%= render :partial => "header" %>

<p>Faster than a bullet<br/>
Terrifying scream<br/>
Enraged and full of anger<br/>
He’s half man and half machine</p>

<p>Rides the metal monster<br/>
Breathing smoke and fire<br/>
Closing in with vengeance soaring high</p>

<p>He is the painkiller<br/>
This is the painkiller</p>

<p>Planets devastated<br/>
Mankinds on its knees<br/>
A saviour comes from out the skies<br/>
In answer to their pleas</p>

<p>Through boiling clouds of thunder<br/>
Blasting bolts of steel<br/>
Evils going under deadly wheels</p>

<p>He is the painkiller<br/>
This is the painkiller</p>

<p>Faster than a lazer bullet<br/>
Louder than an atom bomb<br/>
Chromium plated boiling metal<br/>
Brighter than a thousand suns<br/>
Flying high on rapture<br/>
Stronger free and brave<br/>
Nevermore encaptured<br/>
They’ve been brought back from the grave</p>

<p>With mankind ressurrected<br/>
Forever to survive<br/>
Returns from armageddon to the skies</p>

<p>He is the painkiller<br/>
This is the painkiller<br/>
Wings of steel painkiller<br/>
Deadly wheels painkiller</p>